.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0000ff;
  border-radius: 10px;
  font-size: 18pt;
  width: 135px;
  height: 135px;

  color: #ffffff;
  text-decoration: none;

  &:hover {
    background-color: #000099;
    border-radius: 20px;
  }
}

div#admin-app {
  display: flex;
  flex-direction: row;
}

div#admin-app > a{
  margin-right: 10px;
}

div#admin-app > a:last-child{
  margin-right: 0px;
}
