.student-name {
  font-size: 14pt;
  flex: 1;
  margin: 0;
}

.questions {
  margin-top: 5px;
}

.question {
  font-size: 14pt;
  margin: 3px 0;
  font-style: italic;
}

.answer {
  font-weight: bold;
}

.questionnaire {
  background-color: #f4f4f4;
  padding: 10px;
}

.questionnaire-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionnaire-header-info {
  display: flex;
  flex-direction: column;

  & > h4 {
    text-align: center;
    margin: 0;
    font-style: italic;
    font-weight: normal;
  }
}
